.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1100px;
}
.big-container {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1300px;
  @include for-tablet-landscape-up {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.masthead {
  background: #23272d;
  color: #9da5b4;
  padding: 8rem 2rem;
  .hero {
    max-width: 450px;
    margin: 0 auto;
    h1 {
      color: #fff;
      text-align: center;
      font-weight: 900;
      font-size: 1.625rem;
      line-height: 1;
      border: 3px solid #fff;
      border-radius: 5px;
      padding: 1rem;
      margin: 5px 0;
      @include for-tablet-landscape-up {
       font-size: 3rem;
      }
    }
    .superheader, .subheader {
      font-size: 1.2rem;
      font-weight: normal;
      font-style: italic;
    }
    .superheader {
      margin-bottom: 0;
    }
    .subheader {
      text-align: right;
    }
  }
}
.intro {
  h1 {
    font-size: 1rem;
  }
}
.note {
  font-size: 15px;
  border: 1px solid $light-grey;
  border-radius: 3px;
  background-color: #eef;
  margin-bottom: 1rem;
  padding: 1px 5px;
  font-family: monospace;
}
.section-break {
  width: 20%;
  border: 0;
  border-bottom: 1.5px solid $dark-grey;
}
.post-list {
  @extend .flex;
  align-items: flex-start;
  font-size: 0.8rem;
  @include for-big-phones-up {
    font-size: 0.9rem;
  }
  h2 {
    margin-bottom: 1rem;
    flex: 0 0 100%;
  }
  .post-list-date {
    flex: 0 0 26%;
    text-align: right;
    @include for-tablet-landscape-up {
      flex-basis: 16%;
    }
  }
  .post-list-title {
    flex: 0 0 66%;
    @include for-tablet-landscape-up {
      flex-basis: 76%;
    }
  }
}
.heading-underline {
  margin-top: 10px;
  margin-bottom: 2rem;
  width: 4rem;
  border-bottom: 3px solid #23272d;
}
.essay {
  padding-top: 5rem;
  padding-bottom: 5rem;
  .essay-header {
    h2 {
      // Something?
    }
    h2.subheader {
      font-weight: normal;
      font-size: 1.125rem;
      color: #23272d;
    }
    hr {
      @extend .heading-underline;
      margin-bottom: 3rem;
    }
  }
  .essay-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    .essay-col-half {
      flex: 0 0 100%;
      padding-bottom: 2rem;
      @include for-tablet-landscape-up {
       flex-basis: 48%;
       padding-bottom: 0;
      }
    }
  }
  h3 {
    margin-top: 2rem;
  }
}
.youtube {
  max-width: 900px;
}
