#space101 {
  .masthead {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/img/space101/andromeda.jpg'), #2d3647;
    background-position: center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
    color: rgba(255,255,255,0.6);
    @include for-tablet-landscape-up {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  }
  #pixelmoon {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
